    body {
      background-color: #CEE5D0;

    }

    hr {
      /* border-style: dotted solid;
      border-width: .5em;
      max-width: 11%;
      margin-top: 0em;
      margin-bottom: 0em;
      margin-block-end: 0em;
      margin-block-start: 0em;
      overflow: visible;
      height: 0%; */
      width: 5%;
      border-style: none none dotted;
      border-width: .6em;
      color: rgb(224, 224, 224);
      text-align: center;
    
    }

    h1, h3 {
      color: #66BFBF;
    }